    @charset "UTF-8";

    /* Overlay */
    .redir-modal-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/1x1-000-50._CB336787293_.png) repeat;
        background: #000000;
        z-index: 1000;
        opacity: .5;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
    }

    #redir-overlay {
        position: absolute;
        top: 39%;
        left: 50%;
        width: 529px;
        margin: -145px 0 0 -263px;
        background-color: #FFF;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-family: Helvetica Neue, Arial !important;
        line-height: 1.35;
        overflow: hidden;
        padding: 0;
        z-index: 1001;
    }

    .redir-title {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/pop/beacon_header._CB336787200_.png);
        font-size: 13px;
        font-weight: bold;
        line-height: 16px;
        padding: 10px 14px 9px;
        border-bottom: 1px solid #ccc;
    }

    .redir-content {
        padding: 14px 14px;
    }

    #redir-footer {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/pop/beacon_footer._CB336787200_.png);
        background-repeat: repeat-x;
        min-height: 33px;
        text-align: right;
        padding: 14px;
        box-sizing: content-box;
        -moz-box-sizing: content-box;
    }

    #redir-overlay #redir-remember {
        color: #333333;
        font-size: 21px;
        line-height: 27px;
        padding: 2px;
    }

    #redir-opt-out {
        width: 13px;
        height: 13px;
        padding: 0;
        margin: 0;
        vertical-align: middle;
        position: relative;
        top: -2px;
        overflow: hidden;
    }

    #redir-overlay #redir-amazon-donates, #redir-overlay #redir-reminder-count {
        font-size: 13px;
        padding-left: 2px;
        line-height: 19px;
    }

    #redir-overlay #redir-amazon-donates {
        color: #888888;
    }

    #redir-overlay #redir-reminder-count {
        color: #333333;
        margin-top: 20px;
    }

    .redir-clear {
        clear: both;
    }

    .redir-dismiss-x {
        font-size: 13px;
        float: right;
    }

    .redir-dismiss-x a:hover {
        text-decoration: none;
    }

    .redir-overlay-close {
        background-position: -297px -5px;
        height: 9px;
        opacity: 0.41;
        width: 10px;
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/aui_sprite_0012_1x._CB336787293_.png);
        background-repeat: no-repeat;
        background-size: 400px 600px;
        display: inline-block;
        vertical-align: top;
    }

    a.redir-a-button {
        display: inline-block;
        text-decoration: none;
        margin-left: 10px;
        font-family: Helvetica Neue, Arial !important;
    }

    a.redir-a-button:hover {
        cursor: pointer;
    }

    .redir-a-button-left, .redir-a-button-center, .redir-a-button-right,
    .redir-a-button-sec-left, .redir-a-button-sec-center, .redir-a-button-sec-right {
        height: 31px;
        float: left;
    }

    .redir-a-button-left-40, .redir-a-button-center-40, .redir-a-button-right-40 {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-pri-40-sprite._CB336786579_.png);
        height: 40px;
        float: left;
    }

    .redir-a-button-center, .redir-a-button-sec-center {
        line-height: 33px;
        padding: 0 10px;
        color: #000000;
        font-weight: normal;
        font-size: 13px;
    }

    .redir-a-button-center-40 {
        line-height: 33px;
        padding: 0 0px;
        color: #000000;
        font-weight: normal;
        font-size: 13px;
    }

    .redir-a-button-left, .redir-a-button-right,
    .redir-a-button-sec-left, .redir-a-button-sec-right {
        width: 3px;
    }

    .redir-a-button-left-40, .redir-a-button-right-40 {
        width: 7px;
    }

    .redir-a-button .redir-a-button-left {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-pri-left._CB336786578_.png);
    }

    .redir-a-button .redir-a-button-center {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-pri-center._CB336786579_.png);
    }

    .redir-a-button .redir-a-button-right {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-pri-right._CB336786578_.png);
    }

    .redir-a-button:hover .redir-a-button-left {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-pri-hover-left._CB336786579_.png);
    }

    .redir-a-button:hover .redir-a-button-center {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-pri-hover-center._CB336786578_.png);
    }

    .redir-a-button:hover .redir-a-button-right {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-pri-hover-right._CB336786579_.png);
    }

    .redir-a-button:active .redir-a-button-left {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-pri-active-left._CB336786579_.png);
    }

    .redir-a-button:active .redir-a-button-center {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-pri-active-center._CB336786578_.png);
    }

    .redir-a-button:active .redir-a-button-right {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-pri-active-right._CB336786579_.png);
    }

    .redir-a-button .redir-a-button-left-40 {
        background-position: 0px 0px;
    }

    .redir-a-button .redir-a-button-center-40 {
        background-position: 0px -123px;
    }

    .redir-a-button .redir-a-button-right-40 {
        background-position: -10px 0px;
    }

    .redir-a-button:hover .redir-a-button-left-40 {
        background-position: 0px -41px;
    }

    .redir-a-button:hover .redir-a-button-center-40 {
        background-position: 0px -164px;
    }

    .redir-a-button:hover .redir-a-button-right-40 {
        background-position: -10px -41px;
    }

    .redir-a-button:active .redir-a-button-left-40 {
        background-position: 0px -82px;
    }

    .redir-a-button:active .redir-a-button-center-40 {
        background-position: 0px -205px;
    }

    .redir-a-button:active .redir-a-button-right-40 {
        background-position: -10px -82px;
    }

    .redir-a-button .redir-a-button-sec-left {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-sec-left._CB336786579_.png);
    }

    .redir-a-button .redir-a-button-sec-center {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-sec-center._CB336786578_.png);
    }

    .redir-a-button .redir-a-button-sec-right {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-sec-right._CB336786579_.png);
    }

    .redir-a-button:hover .redir-a-button-sec-left {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-sec-hover-left._CB336786579_.png);
    }

    .redir-a-button:hover .redir-a-button-sec-center {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-sec-hover-center._CB336786578_.png);
    }

    .redir-a-button:hover .redir-a-button-sec-right {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-sec-hover-right._CB336786579_.png);
    }

    .redir-a-button:active .redir-a-button-sec-left {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-sec-active-left._CB336786578_.png);
    }

    .redir-a-button:active .redir-a-button-sec-center {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-sec-active-center._CB336786579_.png);
    }

    .redir-a-button:active .redir-a-button-sec-right {
        background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/redirect-overlay/button/a-sec-active-right._CB336786578_.png);
    }

    #redir-overlay #redir-reminder-count a {
        color: #0066C0;
    }

    #redir-overlay #redir-reminder-count a:hover {
        color: #E47911;
    }

    .redir-ol {
        width: 529px !important;
    }

    .redir-ol-content {
        margin-left: 6px;
        margin-right: 6px;
    }

    .redir-ol-content-image {
        margin-bottom: 30px;
    }

    .redir-ol-goto .redir-a-button-center {
        text-align: center;
        width: 175px;
    }

    .redir-ol-footer-goto-text {
        float: right;
        width: 220px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: right;
        font-size: 12px;
        line-height: 1.5;
        color: #333;
        text-rendering: optimizelegibility;
    }

    #redir-overlay a img {
        border: none;
        width: 66%;
        display: block;
        margin-left:  auto;
        margin-right: auto;
    }

    #redir-overlay img {
        border: none;
    }

    .redir-ol-content-secondary-text {
        font-size: 14px;
    }

    .redir-ol-content-text-CA {
        color: #333333;
        font-size: 21px;
        line-height: 1.3;
        margin-top: 50px;
        margin-bottom: 30px;
        text-rendering: optimizelegibility;
    }

    .redir-ol-content-opt-out-CA {
        color: #9A9A9A;
        margin-top: 1px;
        font-size: 12px;
        line-height: 1.5;
    }

    .redir-ol-content-logo-CA {
        float:left;
        width:15%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .redir-ol-content-heading-CA {
        font-weight: bold;
        font-size: 18px;
        float:left;
        width:85%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .redir-title-text-CA {
        float: left;
        font-weight: normal;
    }

    .redir-ol-content-image-first-unrec-CA {
        margin-top: 1px;
    }

    .redir-ol-content-image-secondary-unrec-CA {
        margin-top: 5px;
        margin-bottom: 30px;
    }

    .redir-ol-content-text-unrec-CA {
        font-size: 18px;
        float:left;
        width:85%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .redir-ol-content-logo-unrec-CA {
        float:left;
        width:15%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .redir-ol-content-opt-out-unrec-CA {
        color: #666666;
        margin-top: 20px;
        font-size: 12px;
        line-height: 1.5;
    }

    #redir-opt-out-label-unrec-CA {
        display: block;
        padding-left: 15px;
        margin-top: 50px;
        margin-bottom: 10px;
        font-weight: normal;
    }

    .redir-title-text-unrec-CA {
        float: left;
        font-size: 14px;
        font-weight: normal;
    }

    .redir-ol-content-image-first-MX {
        margin-top: 1px;
    }

    .redir-ol-content-image-secondary-MX {
        margin-top: 5px;
        margin-bottom: 30px;
    }

    .redir-ol-content-text-MX {
        font-size: 18px;
        float:left;
        width:85%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .redir-ol-content-logo-MX {
        float:left;
        width:15%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .redir-ol-content-opt-out-MX {
        color: #666666;
        margin-top: 20px;
        font-size: 12px;
        line-height: 1.5;
    }

    #redir-opt-out-label-MX {
        display: block;
        padding-left: 15px;
        margin-top: 50px;
        margin-bottom: 10px;
        font-weight: normal;
    }

    .redir-title-text-MX {
        float: left;
        font-size: 14px;
        font-weight: normal;
    }

    .redir-ol-content-image-first {
        margin-top: 1px;
    }

    .redir-ol-content-image-secondary {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .redir-ol-content-text {
        font-size: 18px;
        float:left;
        width:85%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .redir-ol-content-logo {
        float:left;
        width:15%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .redir-ol-content-opt-out {
        color: #666666;
        margin-top: 20px;
        font-size: 12px;
        line-height: 1.5;
    }

    #redir-opt-out-label {
        display: inline-block;
        padding-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: normal;
    }

    .redir-title-text {
        float: left;
        font-size: 14px;
        font-weight: normal;
    }

    .redir-ol-content-text-AU {
        color: #333333;
        font-size: 21px;
        line-height: 1.3;
        margin-top: 50px;
        margin-bottom: 30px;
        text-rendering: optimizelegibility;
    }

    .redir-ol-content-opt-out-AU {
        color: #9A9A9A;
        margin-top: 1px;
        font-size: 12px;
        line-height: 1.5;
    }

    .redir-ol-content-logo-AU {
        float:left;
        width:15%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .redir-ol-content-heading-AU {
        font-weight: bold;
        font-size: 18px;
        float:left;
        width:85%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .redir-title-text-AU {
        float: left;
        font-weight: normal;
    }

    .redir-ol-content-text-SG {
        color: #333333;
        font-size: 21px;
        line-height: 1.3;
        margin-top: 50px;
        margin-bottom: 30px;
        text-rendering: optimizelegibility;
    }

    .redir-ol-content-opt-out-SG {
        color: #9A9A9A;
        margin-top: 1px;
        font-size: 12px;
        line-height: 1.5;
    }

    .redir-ol-content-logo-SG {
        float:left;
        width:15%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .redir-ol-content-heading-SG {
        font-weight: bold;
        font-size: 18px;
        float:left;
        width:85%;
        margin-bottom: 10px;
        argin-top: 10px;
    }

    .redir-title-text-SG {
        float: left;
        font-weight: normal;
    }
    .redir-ol-content-text-NL {
        color: #333333;
        font-size: 21px;
        line-height: 1.3;
        margin-top: 50px;
        margin-bottom: 30px;
        text-rendering: optimizelegibility;
    }

    .redir-ol-content-opt-out-NL {
        color: #9A9A9A;
        margin-top: 1px;
        font-size: 12px;
        line-height: 1.5;
    }

    .redir-ol-content-logo-NL {
        float:left;
        width:15%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .redir-ol-content-heading-NL {
        font-weight: bold;
        font-size: 18px;
        float:left;
        width:85%;
        margin-bottom: 10px;
        argin-top: 10px;
    }

    .redir-title-text-NL {
        float: left;
        font-weight: normal;
    }
